
@font-face {
    font-family: 'Nexa';
    src: 
        url('fonts/NexaLight.otf') format('opentype'),
        url('fonts/NexaBold.otf') format('opentype'),
        url('fonts/NexaLightItalic.otf')  format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro';
    src: 
        url('fonts/MyriadPro-Regular.otf') format('opentype');
}
body{
    font-family: 'Nexa';
}
.nopad{
    padding:0;
}
.no-margin{
    margin-left:0;margin-right:0;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

/*FIRST MENU CSS:
====================*/
.first_menu{
    padding-top:40px;
    min-height: 127px;
    padding-bottom:35px;
    border-bottom: 1px solid #C2C4C6;
}
.hearder-container{
    position: relative;
}
.logo-wrap img{
    padding-left:61px;
}
.product_list .product_search_container{
    position:relative;float: left;
}
.product_list .product_list_arrow_container{
    width:20px;
    height:7px;
    position:relative;
    float:left;
}
.product_list .product_list_arrow_container img{
    cursor: pointer;position:absolute;right:5px;top:37px;
}
.product_search_container p{
    color: #000000;font-size: 16px;font-weight: normal;padding-bottom: 0px;margin-top: 29px;float:left;margin-bottom: 0;text-transform:uppercase;
}
.list_of_product_hidden_container{
    border:1px gray solid;width:auto;position: absolute;top: 55px;min-width: 92px;display:none;z-index: 9;background-color: white;
}
.list_of_product_hidden_container .product_options{
    height:30px;line-height:30px;font-size:16px;color:#000000;padding-left: 5px;padding-right: 5px;
}
.list_of_product_hidden_container .product_options:hover{
    background-color:blue;color:white;cursor: grab;
}
.product_list .lookingFor_container{
    position:relative;float: left;
}
.lookingFor_container input{
    color: #000000;font-size: 13px;font-weight: normal;padding-bottom: 0px;text-align: center;margin-bottom: 0;padding-top: 20px;cursor: initial;
    height: 50px; width: 100%;border:none; border-bottom: 1px solid #DADBDC;padding-left: 0px;box-shadow: inset 0 1px 1px rgba(0,0,0,0);background-color: white;
    -moz-border-radius: 0px;-webkit-border-radius: 0px; border-radius: 0px;outline: none;
}
.lookingFor_container input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000000;
    font-size: 13px;
    opacity: 1 !important;
}
.lookingFor_container input::-moz-placeholder { /* Firefox 19+ */
    color: #000000;
    font-size: 13px;
    opacity: 1 !important;
}
.lookingFor_container input:-ms-input-placeholder { /* IE 10+ */
    color: #000000;
    font-size: 13px;
    opacity: 1 !important;
}
.lookingFor_container input:-moz-placeholder { /* Firefox 18- */
    color: #000000;
    font-size: 13px;
    opacity: 1 !important;
}
.login_container ul.login_menu_list{
    padding-left:0;
    margin-bottom: 0;
    height: 50px;
    padding-top: 25px;
}
.login_container ul.login_menu_list li{
    list-style:none;
    display:inline-block;
    padding-right:24px;
}
.login_container ul.login_menu_list li a{
    color:#ADAFB2;
    font-size:13.5px;
    text-transform:capitalize;
}
.login_container ul.login_menu_list li a:hover{
    text-decoration:underline;
    color:#ADAFB2;
}
.login_container ul.login_menu_list li.orders_list_element img ,.login_container ul.login_menu_list li.carts_list_element img , .login_container ul.login_menu_list li.favorites_list_element img{
    margin-right: 8px;
    margin-top: -8px;
}
.login_container ul.login_menu_list li.login_list_element img {
    margin-left:11px;
    margin-right:11px;
}
.menu_icons{
    margin-right:3px;
    color:black;
}
.carousel-caption{
    right: 0;
    padding-bottom: 0;
    top: 0;
    text-align: right;
    padding-right: 20px;
    width: 50%;
    left: auto;
}
.carousel-caption h3{
    font-size: 35px;
    font-weight: bold;
}
.add_text_container{
    position:absolute;
    padding-bottom: 0;
    top: 0;
    text-align: right;
    padding-right: 20px;
    width: 50%;
    left: auto;
    color:black;
    font-weight:bold;
    right:0;
}
.add_text{
    color:black;
    font-size:35px;
}
@media (min-width: 992px) and (max-width: 1200px) {
    .carousel-caption{
        width: 65%;
    }
}
@media (min-width: 992px) {
    .login_container ul.login_menu_list{
        padding-left:0px !important;
        float:right;
    }
    .login_container ul.login_menu_list li.login_list_element{
        padding-right:40px;
    }
}
@media (max-width: 992px) {
    .login_container ul.login_menu_list{
        padding-left:61px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .carousel-caption{
        width: 75%;
    }
    .carousel-caption h3{
        font-size: 28px;
    }
}
@media (max-width: 630px) {
    .xxs_width{width:100%;}
    .logo-wrap img ,.product_search_container p , .login_container ul.login_menu_list{
        padding-left:10px;
    }
    .product_search_container p {
        font-size: 15px;
    }
    .carousel-caption{
        width: 75%;
    }
    .carousel-caption h3{
        font-size: 24px;
    }
    .add_text{
        font-size:30px;
    }
    .logo-wrap img {
        padding-left:0;
    }
    .logo-wrap {
        text-align:center;
    }
    .login_list_element{
        float:right;
    }
}
/*=========================*/

/*SCND MENU CSS:
=========================*/
.navbar{
    margin-bottom:0;
}
.navbar-default {
    background-color: white;
    border: none;
    min-height: 47px;
    line-height:47px;
}
.user_logo_container {
    line-height: 47px;
}
.user_logo_container a {
    margin-right:40px;
}
.navbar-default .navbar-nav > li > a{
    color:#000000;
    font-size:15.8px;
    padding: 0;
    line-height: 47px;
}
.navbar-default .navbar-nav > li{
    padding-right:80px;
}
.navbar-default .navbar-nav > li:last-child{
    padding-right:0px;
}
.navbar-default .navbar-nav > li > a:hover {
    color:#C2262E;
}
.navbar-default .navbar-nav > li > a.active{
    color:#C2262E;
}
ul.scnd_menu_list{
    padding-left:45px;
    margin-bottom: 0;
    min-height: 47px;
    line-height:47px;
}
.navbar-toggle{
    margin-right:25px;
}
@media (max-width: 768px) {
    .user_logo_container {
        float: right;
    }
}
@media (max-width: 630px) {
    ul.scnd_menu_list {
        padding-left: 25px;
    }
}

/*=========================*/

/*FOOTER CSS:
=========================*/
.footer_container{
    background-color:#9B9EA0;
    padding-top: 55px;
    padding-bottom:30px;
}
.footer_container ul.footer_list{
    padding-left:0px;
    margin-bottom: 0;
    padding-left:30px;
}
.footer_container ul.footer_list li{
    list-style:none;
}
.footer_container ul.footer_list li a{
    color:#FFFFFF;
    font-size: 16px;
    text-transform:capitalize;
    line-height: 20px;
}
.footer_container ul.footer_list li.title_footer_list a{
    text-transform:uppercase;
    margin-bottom: 12px;
    display: block;
}
.footer_container ul.footer_list li a:hover{
    color:#FFFFFF;
    text-decoration:underline;
}
.footer_container a.big_footer_wt{
    font-size:17px;
    color:#FFFFFF;
    text-transform:uppercase;
    display: block;
    line-height: 20px;
    padding-left:30px;
}
.footer_container ul.social_links_list_container{
    padding-left:30px;
}
.footer_container ul.social_links_list_container li{
    list-style:none;
    display:inline-block;
}
.footer_container ul.social_links_list_container li a{
    padding-right:5px;
    display:block;
    margin-top:10px;
}
.footer_container ul.social_links_list_container li:last-child a{
    padding-right:0px;
}
.footer_container a.big_footer_wt:hover{
    color:#FFFFFF;
    text-decoration:underline;
}
.footer_container .img_app_link{
    padding-left:10px;
}
.fab_social{
    color:white;
}
.fab_social:hover{
    opacity:0.8;
}
@media (min-width: 1523px) {
    .footer_container ul.footer_list{
        padding-left:50px;
    }	
    .footer_container a.big_footer_wt ,.footer_container ul.social_links_list_container{
        padding-left:40px;
    }
}
@media (min-width:992px) and (max-width:1199px){
    .fab_social{
        font-size: 2em;
    }
}
@media (min-width: 992px) and (max-width: 1040px) {
    .footer_container a.big_footer_wt{
        padding-left:15px!important;
    }
    .footer_container ul.social_links_list_container{
        padding-left:15px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .footer_container ul.footer_list li a {
        font-size: 14px!important;
    }
    .footer_container{
        padding-top:30px!important;
    }
    .footer_container .img_app_link{
        padding-left:0px!important;
        margin-left:-10px;
    }
}
@media (min-width: 992px) {
    .footer_container .img_app_link{
        padding-top:0px !important;
    }
}
@media (max-width: 992px) {
    .footer_container .img_app_link{
        padding-top:10px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .footer_container ul.footer_list li a {
        font-size: 13px ;
    }
    .footer_container{
        padding-top:30px !important;
    }
    .footer_container ul.footer_list{
        padding-left:15px;
    }
    .footer_container a.big_footer_wt{
        padding-left:15px;
        padding-top:0!important;
    }
    .footer_container ul.social_links_list_container{
        padding-left:15px;
    }
    .footer_container .img_app_link{
        padding-left:15px;
    }
    .footer_container ul.footer_list li.title_footer_list a{
        font-weight:normal !important;
        margin-top:0px !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .footer_container .img_app_link {
        padding-left: 15px !important;
    }
}
@media (min-width: 320px) and (max-width: 768px) {
    .footer_container .img_app_link{
        padding-left:30px;
    }
    .footer_container a.big_footer_wt{
        padding-top:20px;
    }
    .footer_container ul.footer_list li.title_footer_list a{
        font-weight:bold;
        margin-top:20px;
    }
    .footer_container {
        padding-top: 10px;
    }
}
@media (max-width: 630px) {
    .footer_container ul.footer_list li a {
        font-size: 14px ;
    }
    .footer_container{
        padding-top:30px;
    }
    .footer_container ul.footer_list {
        padding-left: 15px;
    }
    .footer_container a.big_footer_wt{
        padding-left: 15px;
    }
    .footer_container ul.social_links_list_container{
        padding-left:15px;
    }
    .footer_container .img_app_link{
        padding-left:15px;
    }

}
/*=========================*/

/*	HOME PAGE CSS:
=========================*/
.carousel {
    position: relative;
    height: 100%;
}
.carousel-inner{
    background-color:#D4D8E4;
    height: 100%;
}
.carousel-control.left , .carousel-control.right{
    background-image:none;
}

.title_container{
    min-height:138px;
    text-align:center;
}
.title_container a{
    line-height:138px;
    font-size:49px;
    color:#000000;
    text-transform:uppercase;
    width:auto;
}
.gray_container{
    background-color:#E0E1E2;
    width:100%;
    float:left;
    position:relative;
    padding-top:36px;
    padding-bottom:25px;
    text-align: center;
    height: 100%;
}
.gray_container a{
    font-size:33px;
    color:#000000;
    text-decoration:uppercase;
}
.left_container_style{
    padding-right:15px;

}
.right_container_style{
    padding-left:15px;
}
.categories_link_text{
    margin-top:15px;
    display: block;
}
.featured_items_link{
    font-size:49px;
    color:#000000;
    text-transform:uppercase;
}
.featured_container{
    background-color:#87898B;
    width:100%;
    float:left;
    position:relative;
    padding-top:5px;
    padding-bottom:5px;
    text-align: center;
    height: 100%;
}
.h_100{
    height:100%;
}
.w_100{
    width:100%;
}
.height_50{
    height:50%;
}
.up_container_img{
    padding-bottom:15px;
}
.down_container_img{
    padding-top:15px;
}
.featured_left_container_margin{
    margin-left:30px;
}
.margin_top_30{
    margin-top:30px;
}
.margin_bottom_30{
    margin-bottom:30px;
}
@media (min-width: 768px) {
    .row.same_height_row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
    .same_height_col{
        display: flex;
        flex-direction: column;
    }
    .featured_left_container_margin{
        margin-left:30px !important;
    }
    .up_container_img ,.down_container_img{
        padding-left:15px !important;
        padding-right:15px !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .featured_items_link{
        font-size:40px !important;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .featured_items_link{
        font-size:34px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .title_container a{
        font-size:49px !important;
    }
    .left_container_style{
        padding-right:15px !important;
        padding-bottom:0px !important;

    }
    .right_container_style{
        padding-left:15px !important;
        padding-top:0px !important;
    }

}
@media (min-width: 320px) and (max-width: 768px) {
    .title_container a{
        font-size:36px;
    }
    .left_container_style{
        padding-right:0px;
        padding-bottom:5px;

    }
    .right_container_style{
        padding-left:0px;
        padding-top:10px;
    }
    .featured_left_container_margin{
        margin-left:15px;
    }
    .featured_items_link{
        font-size:34px;
    }
    .up_container_img ,.down_container_img{
        padding-left:30px;
        padding-right:0;
    }
}

/*CSS swiper */
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: 15px;
}
.swiper-slide{
    padding-right:0;
}
.swiper-button-next{
    background-image:url('../images/arrow_swiper.png');
    right: 20px;
}
.swiper-button-prev, .swiper-button-next{
    background-size: 44px 44px;
    width:44px;
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-prev{
    opacity:0;
}
.deal_week_text{
    font-size:35px;
    color:black;
    text-transform:uppercase;
    position: absolute;
    bottom: 54px;
    right: 6px;
    line-height: 35px;
    margin-bottom: 0;
}
.absolute_discount_logo{
    position:absolute;
    left:0;
    bottom:0;

    width: 120px;
    height: 94px;
}
.swiper-wrapper .absolute_discount_logo.even {background-image:url('../images/red_sale_logo.png');}
.swiper-wrapper .absolute_discount_logo.odd {background-image:url('../images/white_sale_logo.png');}
.absolute_discount_value{
    font-size: 30px;
    position: absolute;
    left: 15px;
    bottom: 9px;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 30px;
}
.absolute_discount_value.even{
    color: #FFFFFF;
}
.absolute_discount_value.odd{
    color: #C2262E;
}

.gray_layer_hover:hover:after {
    content:"\A";
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.3);
    position:absolute;
    top:0;
    left:0;
    pointer-events: none;
}
/*=========================*/

.new_a_gray_container{
    background-color:#F1F2F2;
    padding-top:15px;
    padding-bottom:15px;
    position:relative;
    width:100%;
    float:left;
}
.dm_na_title{
    font-size: 47px;
    color: #000000;
    line-height: 47px;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-top: calc(100% - 192px);
}
.white_img_container_dm{
    background-color: #FFF;
    position:relative;
    width:100%;
    float:left;

}
.right_red_back{
    background-image: linear-gradient(to right, #ff0000 , #e11317);
    padding-right: 44%;
    position: absolute;
    margin-left: 5px;
    padding-left:5px;
    color:white;
}
.left_red_back{
    background-image: linear-gradient(to right, #ff0000 , #e11317);
    padding-left: 20%;
    position: absolute;
    margin-top: 13px;
    padding-right:5px;
    color:white;
}
.product_info_text{
    color:#000000;
    font-weight:bold;
    font-size:20px;
    line-height:25px;
    padding-left:15px;
    margin-bottom:0;
}
.product_info_price{
    color:#000000;
    font-size:20px;
    line-height:25px;
    padding-left:15px;
}

@media (max-width:1200px){
    .dm_na_title {
        font-size: 30px;
        margin-top: 5px;
    }
    .right_red_back {
        padding-right: 70px;
        position: relative;
        margin-left:0;
    }
    .left_red_back {
        padding-left: 30px;
        position: relative;
    }
}


@media (min-width:768px) and (max-width:991px){
    .deal_week_text {
        font-size: 30px;
        bottom: 20px;
        right: 5px;
    }
}
@media (max-width:767px){
    .deal_week_text{
        font-size: 34px;
        bottom: 30px;
        right: 10px;
        line-height: 34px;
    }
}
@media (max-width:640px){
    .deal_week_text{
        font-size: 34px;
        bottom: 20px;
        right: 10px;
        line-height: 34px;
    }
    .dm_na_title{
        margin-bottom:20px;
    }
}
/*=========================*/







